
@model Employee
<br />
<br />
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Email : @Model.Email</p>
            <p class="card-text">Address : @Model.Address</p>
            <p class="card-text">Salary : @Model.Salary</p>
            <p class="card-text">Gender : @Model.gender</p>
        </div>
    </div>
    </div>
